<header class = "header" id="header">
          <nav class="navbar navbar-expand-lg bar">

            <!--App Name-->
            <a class="navbar-brand navtext" href="/home">
              Paella Business Management Tool
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <!--Navigation Links-->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link navtext" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navtext" href="/orders">All Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navtext" href="/order-form">New Order</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle navtext" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Inventory
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/pans-inventory">Paella Pans</a>
                    <a class="dropdown-item" href="/ingredients-inventory">Ingredients</a>
                  </div>
                </li>
              </ul>

              <!--Log Out-->
              <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                  <span class="nav-link vl">Logged in as Owner</span>
                </li>
                <li class="nav-item active">
                  <a class="nav-link navtext" href="/">Log Out</a>
                </li>
              </ul>
            </div>
          </nav>
</header>
