<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- TITLE -->
      <title>{{title}}</title>
      <!--
        The title of each page will change depending on its purpose
      -->

    <!-- LINKS FOR BOOTSTRAP TO WORK-->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- Links to font awesome and icons -->
      <script src="https://kit.fontawesome.com/07167c6e0a.js" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Space Mono' rel='stylesheet'>
		  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <!-- CSS FILE -->
      <link rel="stylesheet" href={{styles}}>
      <!--
        we have 2 css files:
          styles_login.css = css file for just the login page (separate since it doesnt have navbar & has diff layout)
          styles_inside.css = css file for the pages that come AFTER the login page (all use same layout)
      -->

    <!-- JS FILE -->
      {{!-- <script src="../script/scripts.js"></script> --}}
      <!-- TODO:
        - rename scripts file to "scripts.js" after Sprint #1 Demo
      -->
      
  </head>

  <body class={{body_class}}>
    <!-- MAIN BODY -->
      {{{body}}}
      <!--
        we have 2 body classes to differentiate the css being used for each:
          "login" = using styles_login.css
          "inside" = using styles_inside.css
      -->
  </body>
  
</html>
