{{> navbar}} <!-- This is the partial for the navigation bar, we use > right after the opening mustache to denote it's a partial -->

<div class="d-flex flex-column content"> <!-- ".content" will be the biggest div for all pages after login (for general margin and padding) -->

  <h2><strong>Recent Orders</strong></h2>
  <hr>
  <table class="table table-bordered table-hover">

    <thead class="thead-dark">
      <tr>
        <th scope="col">Order Number</th>
        <th scope="col">Order Status</th>
        <th scope="col">Date Needed</th>
      </tr>
    </thead>

    <tbody>
      {{#if records}}
        {{#each records}}
          <tr>
            <td>{{this.ordernum}}</td>
            <td>{{this.status}}</td>
            <td>{{this.date}}</td>
          </tr>
          {{/each}}
      {{else}}
        <tr>
          <td>No orders available</td>
        </tr>
      {{/if}}
    </tbody>

  </table>

  <!-- SAMS CODE -->
  <div class="container home-container">
    <div class="card d-flex flex-row justify-content-between home-box">

      <div class="d-flex flex-col home-col1">
        <h4 id="ordernumber">Order #2020-1</h4>


        <button type="button" class="btn btn-outline-dark order-status">
          2020-08-16
        </button>
      </div>

      

      <div class="home-col2">

        <button type="button" class="btn btn-warning btn-block order-status">
          Order Status
        </button>
      </div>

    </div>
  </div>

</div>
