{{> navbar}} <!-- This is the partial for the navigation bar, we use > right after the opening mustache to denote it's a partial -->

<div class="d-flex flex-column content"> <!-- ".content" will be the biggest div for all pages after login (for general margin and padding) -->

  <h2><strong>Recent Orders</strong></h2>
  <hr>
    {{#if records}}
      {{#each records}}
      <div class="container">
                  <div class="card d-flex flex-row justify-content-between order-box">
                      <div class="order-col1">
                          <h4 class="pannumber">Order #{{this.ordernum}}</h4>
                      </div>
                      <div class="order-date"> <h4 class="pannumber">{{this.date}}</h4> </div>
                      <div class="order-col2">
                          <button id="order-status" type="button" class="btn btn-warning btn-block order-status">
                              {{this.status}}
                          </button>
                      </div>
                  </div>
      </div>
        {{/each}}
    {{else}}
        <p>No orders available</p>
    {{/if}}
</div>
