{{> navbar}} <!-- This is the partial for the navigation bar, we use > right after the opening mustache to denote it's a partial -->

<div class="container">
    <div class="row">
        <div class="col">
            <h2><strong>Inventory</strong></h2>
        </div>
        <div class="col">
            <button class="btn btn-primary float-right">Edit</button>
        </div>
        
    </div>
    <div class="row">
        <div class ="col">
            <p class = "h3">Category<p>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
      </table>
        </div>
    </div>
</div>