<div class="form-box">
		<div class="button-box">
			<div id="btn"></div>
			<button type="button" class="toggle-btn" onclick="login()">Log In</button>
			<button type="button" class="toggle-btn" onclick="register()">Register</button>
		</div>
		<form id="login" class="input-group">
			<input id="username1"type="text" class="input-field"placeholder="Username" required>
			<input id="password"type="password" class="input-field"placeholder="Password"  required>

			<span class="eye" onclick="myFunction()">
				<i id="hide1" class="fa fa-eye" ></i>
				<i id="hide2" class="fa fa-eye-slash"></i>
			</span>

			<button id="log" type="button" class="submit-btn">Log in</button>
		</form>
		<form id="register"class="input-group">

			<div class="error-text">Passwords do not match</div>

			<input id="username2"type="text" class="input-field"placeholder="Username" name="username" required>
			<input id="pswrd_1"type="text" class="input-field"placeholder="Password" name="password"required>

			<input id="pswrd_2"type="password" class="input-field"placeholder="Confirm Password" name="password2" required>
			<span class="eyes" onclick="myFunctions()">
				<i id="hide3" class="fa fa-eye" ></i>
				<i id="hide4" class="fa fa-eye-slash"></i>
			</span>

			<input id="checkbox" type="checkbox" class="check-box" required><span>I agree to the terms and conditions</span>
			<button id="reg" type="submit" class="submit-btn">Register</button>
		</form>
	</div>

	<script>
		function myFunction(){
			var x = document.getElementById("password");
			var y = document.getElementById("hide1");
			var z = document.getElementById("hide2");
			if(x.type === 'password'){
				x.type = "text";
				y.style.display = "block";
				z.style.display = "none";
			}
			else{
				x.type = "password";
				y.style.display = "none";
				z.style.display = "block";
			}
		}
		function myFunctions(){
			var m = document.getElementById("pswrd_2");
			var n = document.getElementById("hide3");
			var o = document.getElementById("hide4");
			if(m.type === 'password'){
				m.type = "text";
				n.style.display = "block";
				o.style.display = "none";
			}
			else{
				m.type = "password";
				n.style.display = "none";
				o.style.display = "block";
			}
		}
	</script>

<script>
	  const checkbox = document.querySelector("#checkbox");
	  const username2 = document.querySelector("#username2");
      const pswrd_1 = document.querySelector("#pswrd_1");
      const pswrd_2 = document.querySelector("#pswrd_2");
      const errorText = document.querySelector(".error-text");
      const btn = document.querySelector("#reg");


      btn.onclick = function(){
		
        if(username2.value==""||username2.value==" "){
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Username Cannot Be Empty";
          return false;
		}
		else if(pswrd_1.value == "" ||pswrd_2.value==""||pswrd_1.value == " " ||pswrd_2.value==" "){
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Passwords Cannot Be Empty";
          return false;
		}

		// checking the username length
		else if(username2.value.length < 6) {
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Username is too short";
          return false;
        }
		else if(username2.value.length > 15) {
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Username is too long";
          return false;
        }
		
		// checking the password length
		else if(pswrd_1.value.length < 6) {
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Password is too short";
          return false;
        }
		else if(pswrd_1.value.length > 15) {
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Password is too long";
          return false;
        }
		
		else if(pswrd_1.value != pswrd_2.value){
          errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Passwords Do Not Match";
          return false;
        }

		else if(checkbox.checked!=true){
		  errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Unread Terms and Conditions";
          return false;
		}
		else{
          errorText.style.display = "block";
          errorText.classList.add("matched");
          errorText.textContent = "Passwords Match";
          return false;
        }
      }

    </script>

	<script>

			var x = document.getElementById("login");
			var y = document.getElementById("register");
			var z = document.getElementById("btn");
			function register(){
				x.style.left = "-400px";
				y.style.left = "50px";
				z.style.left = "140px";
			}
			function login(){
				x.style.left = "50px";
				y.style.left = "450px";
				z.style.left = "0px";
			}
	</script>
