<title>USER LOG-IN</title>

<div id="mainbody">
			<div id="log-in-container">
				<form>
					<h2 id="log-in-header">Log In</h2>
					<div id="log-in-body">
							<ul style="list-style-type:none;">
								<li>
									<div class="inline-elements">
										Username:
										<input type="input" name="userName">
									</div>
								</li>
								<li>
									<div class="inline-elements">
										Password:
										<input type="input" name="userName">
									</div>
								</li>
							</ul>
						<input class="btn-submit" type="submit" name="submitLogIn">

					</div>
				
					<p style="size:12px;">Don't have an account yet? </p><a href="http://localhost:3000/register">Register</a></p>
				</form>
			</div>
		</div>
<br>