<div class="form-box">
		<div class="button-box">
			<div id="btn"></div>
			<button type="button" class="toggle-btn" onclick="login()">Log In</button>
			<button type="button" class="toggle-btn" onclick="register()">Register</button>
		</div>
		<form id="login" class="input-group">
			<input id="username1"type="text" class="input-field"placeholder="Username" required>
			<input id="password"type="password" class="input-field"placeholder="Password" id="myInput" required>
			
			<span class="eye" onclick="myFunction()">
				<i id="hide1" class="fa fa-eye" ></i>
				<i id="hide2" class="fa fa-eye-slash"></i>
			</span>
			
			<button id="login" type="submit" class="submit-btn">Log in</button>
		</form>
		<form id="register"class="input-group">
			
			<div class="error-text">Passwords do not match</div>

			<input id="username2"type="text" class="input-field"placeholder="Username" required name="username">
			<input id="pswrd_1"type="text" class="input-field"placeholder="Password" name="password"required>
			
			<input id="pswrd_2"type="password" class="input-field"placeholder="Confirm Password" required>
			<span class="eyes" onclick="myFunctions()">
				<i id="hide3" class="fa fa-eye" ></i>
				<i id="hide4" class="fa fa-eye-slash"></i>
			</span>

			<input type="checkbox" class="check-box" required><span>I agree to the terms and conditions</span>
			<button id="reg" type="submit" class="submit-btn">Register</button>
		</form>
	</div>
		
	<script>
		function myFunction(){
			var x = document.getElementById("myInput");
			var y = document.getElementById("hide1");
			var z = document.getElementById("hide2");
			if(x.type === 'password'){
				x.type = "text";
				y.style.display = "block";
				z.style.display = "none";
			}
			else{
				x.type = "password";
				y.style.display = "none";
				z.style.display = "block";
			}
		}
		function myFunctions(){
			var m = document.getElementById("pswrd_2");
			var n = document.getElementById("hide3");
			var o = document.getElementById("hide4");
			if(m.type === 'password'){
				m.type = "text";
				n.style.display = "block";
				o.style.display = "none";
			}
			else{
				m.type = "password";
				n.style.display = "none";
				o.style.display = "block";
			}
		}
	</script>
	
<script>
      const pswrd_1 = document.querySelector("#pswrd_1");
      const pswrd_2 = document.querySelector("#pswrd_2");
      const errorText = document.querySelector(".error-text");
      const btn = document.querySelector("#reg");
      
      
      btn.onclick = function(){
        if(pswrd_1.value != pswrd_2.value){
          errorText.style.display = "block";
          errorText.classList.remove("matched");
          errorText.textContent = "Passwords Do Not Match";
          return false;
        }else{
          errorText.style.display = "block";
          errorText.classList.add("matched");
          errorText.textContent = "Passwords Match";
          return false;
        }
      }
      
    </script>
	
	<script>
		
			var x = document.getElementById("login");
			var y = document.getElementById("register");
			var z = document.getElementById("btn");
			function register(){
				x.style.left = "-400px";
				y.style.left = "50px";
				z.style.left = "140px";
			}
			function login(){
				x.style.left = "50px";
				y.style.left = "450px";
				z.style.left = "0px";
			}
	</script>
	{{!--
	<div class="content-login">
	<h2 id="log-in-header">Log In</h2>
	<div class="input-box">
		<i class="fa fa-user" aria-hidden="true"></i>
		<input type="input" placeholder="Username">
	</div>
	<div class="input-box">
		<i class="fa fa-key" aria-hidden="true"></i>
		<input type="password" placeholder="Password" id="myInput">
		<span class="eye" onclick="myFunction()">
			<i id="hide1" class="fa fa-eye" aria-hidden="true"></i>
			<i id="hide2" class="fa fa-eye-slash" aria-hidden="true"></i>
		</span>
							
	</div>
		<button type="button" class="login-btn">SUBMIT</button>
	<script>
		function myFunction(){
			var x = document.getElementById("myInput");
			var y = document.getElementById("hide1");
			var z = document.getElementById("hide2");
			if(x.type === 'password'){
				x.type = "text";
				y.style.display = "block";
				z.style.display = "none";
			}
			else{
				x.type = "password";
				y.style.display = "none";
				z.style.display = "block";
			}
		}
	</script>
						
	<div class="register">
		<p>DON'T HAVE AN ACCOUNT YET?</p>
	</div>
	<a href="/register">
		<button type="button" class="login-btn">Register</button>
	</a>
					
					
	
</div>
	--}}