{{> navbar}} <!-- This is the partial for the navigation bar, we use > right after the opening mustache to denote it's a partial -->

<div class="d-flex flex-column content"> <!-- ".content" will be the biggest div for all pages after login (for general margin and padding) -->
    <div class="container order-container">
        <div class="card d-flex flex-row justify-content-between info-row0">
            <div class="info-ordernum">
                <h2 id="ordernumber">Order #2020-1</h2>
            </div>
            
            <div class="d-flex info-status_grp">
                <div class="info-p_status">
                    <button id="info-pbutton" type="button" class="btn btn-light btn-lg btn-block">Paella Pan - 14A</button>
                </div>

                <div class="info-o_status">
                    <button id="info-obutton" type="button" class="btn btn-light btn-lg btn-block">Complete Ingredients</button>
                </div>
            </div>    
        </div>

        <div class="d-flex flex-row justify-content-between align-items-stretch info-row2">
            <div id="info-form" class="card info-cols">
                <h4 class="card-header">Order Information</h4>
                
                <div class="card-body">
                    <p><b>Customer Name:</b> Samantha de Leon</p>
                    <p><b>Date Needed:</b> 16/08/2000</p>
                    <p><b>Time Needed:</b> 04:20 AM</p>
                    <p><b>Paella Size:</b> 20 inches</p>
                    <p>
                        <b>Extra Remarks:</b> <br>
                        <span id="info-remarks">
                            According to all known laws of aviation, there is no way that a bee should be able to fly. Its wings are too small to get its fat little body off the ground. The bee, of course, flies anyways. Because bees don't care what humans think is impossible.
                        </span>
                    </p>
                </div>
            </div>

            <div id="info-checklist" class="card info-cols">
                <h4 class="card-header">Ingredients Checklist</h4>
                
                <div class="card-body">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">Ingredient Numero Uno</label>
                    </div>
                </div>
            </div>

            <div id="info-profit" class="card info-cols">
                <h4 class="card-header">Profit Computation</h4>
                
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        

        
    </div>
</div>