{{> navbar}} <!-- This is the partial for the navigation bar, we use > right after the opening mustache to denote it's a partial -->

<div class="d-flex flex-column content"> <!-- ".content" will be the biggest div for all pages after login (for general margin and padding) -->      
    <div class="container pan-container">
        <h2>Pans Inventory</h2>

        <!-- 14 INCH PANS (4)-->
        <div class="card d-flex flex-row pan-rows">
            <h3>14" Pans</h3>
            
            <!-- PAN 14A-->
            <div class="card d-flex flex-row justify-content-between pan-14">
                <div class="pan-col1">
                    <h4>Pan #14A</h4>
                </div>

                <div class="pan-col2">
                    <button id="14A-status" type="button" class="btn btn-warning btn-lg btn-block pan-status">
                        Paella Pan - 14A
                    </button>
                </div>
            </div>

            <!-- PAN 14B-->
            <div class="card d-flex flex-row justify-content-between pan-14">
                <div class="pan-col1">
                    <h4>Pan #14B</h4>
                </div>

                <div class="pan-col2">
                    <button id="14B-status" type="button" class="btn btn-warning btn-lg btn-block pan-status">
                        Paella Pan - 14B
                    </button>
                </div>
            </div>

            <!-- PAN 14C-->
            <div class="card d-flex flex-row justify-content-between pan-14">
                <div class="pan-col1">
                    <h4>Pan #14C</h4>
                </div>

                <div class="pan-col2">
                    <button id="14C-status" type="button" class="btn btn-warning btn-lg btn-block pan-status">
                        Paella Pan - 14C
                    </button>
                </div>
            </div>
            
            <!-- PAN 14D-->
            <div class="card d-flex flex-row justify-content-between pan-14">
                <div class="pan-col1">
                    <h4>Pan #14D</h4>
                </div>

                <div class="pan-col2">
                    <button id="14D-status" type="button" class="btn btn-warning btn-lg btn-block pan-status">
                        Paella Pan - 14D
                    </button>
                </div>
            </div>

        </div>
        
        
    </div>
</div>