{{> navbar}} <!-- This is the partial for the navigation bar, we use > right after the opening mustache to denote it's a partial -->

<div class="d-flex flex-column content"> <!-- ".content" will be the biggest div for all pages after login (for general margin and padding) -->      
    <div class="container pan-container">
        <h2>Pans Inventory</h2>

       <!-- 14 INCH PANS (4)-->
        <div class="pan-rows">
            <h3>14" Pans</h3>
            <div id="pan-14in" class="card-deck">
                <div class="card pan-card">
                    <img class="card-img-top" src="..." alt="Photo of Pan 14A">
                    <div class="card-body">
                        <h4 class="card-title pannumber">Pan #14A</h4>
                        <button id="14A-status" type="button" class="btn btn-warning btn-block pan-status">
                            Order #2020-1
                        </button>
                    </div>
                </div>

                <div class="card pan-card">
                    <img class="card-img-top" src="..." alt="Photo of Pan 14B">
                    <div class="card-body">
                        <h4 class="card-title pannumber">Pan #14B</h4>
                        <button id="14B-status" type="button" class="btn btn-warning btn-block pan-status">
                            Order #2020-2
                        </button>
                    </div>
                </div>

                <div class="card pan-card">
                    <img class="card-img-top" src="..." alt="Photo of Pan 14C">
                    <div class="card-body">
                        <h4 class="card-title pannumber">Pan #14C</h4>
                        <button id="14C-status" type="button" class="btn btn-warning btn-block pan-status">
                            Order #2020-3
                        </button>
                    </div>
                </div>

                <div class="card pan-card">
                    <img class="card-img-top" src="..." alt="Photo of Pan 14D">
                    <div class="card-body">
                        <h4 class="card-title pannumber">Pan #14D</h4>
                        <button id="14D-status" type="button" class="btn btn-warning btn-block pan-status">
                            No Pan Assigned
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 16 INCH PANS (3)-->
        <div class="pan-rows">
            <h3>16" Pans</h3>
            <div id="pan-16in" class="card-deck">
                <div class="card pan-card">
                    <img class="card-img-top" src="..." alt="Photo of Pan 16A">
                    <div class="card-body">
                        <h4 class="card-title pannumber">Pan #16A</h4>
                        <button id="16A-status" type="button" class="btn btn-warning btn-block pan-status">
                            Order #2020-1
                        </button>
                    </div>
                </div>

                <div class="card pan-card">
                    <img class="card-img-top" src="..." alt="Photo of Pan 16B">
                    <div class="card-body">
                        <h4 class="card-title pannumber">Pan #16B</h4>
                        <button id="16B-status" type="button" class="btn btn-warning btn-block pan-status">
                            Order #2020-2
                        </button>
                    </div>
                </div>

                <div class="card pan-card">
                    <img class="card-img-top" src="..." alt="Photo of Pan 16C">
                    <div class="card-body">
                        <h4 class="card-title pannumber">Pan #16C</h4>
                        <button id="16C-status" type="button" class="btn btn-warning btn-block pan-status">
                            Order #2020-3
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 20 INCH PANS (4)-->
        <div class="pan-rows">
            <h3>20" Pans</h3>
            <div id="pan-20in" class="card-deck">
                <div class="card pan-card">
                    {{!-- <img class="card-img-top" src="..." alt="Photo of Pan 20A"> --}}
                    <div class="card-body">
                        <h4 class="card-title pannumber">Pan #20A</h4>
                        <button id="20A-status" type="button" class="btn btn-warning btn-block pan-status">
                            Order #2020-1
                        </button>
                    </div>
                </div>

                <div class="card pan-card">
                    {{!-- <img class="card-img-top" src="..." alt="Photo of Pan 20B"> --}}
                    <div class="card-body">
                        <h4 class="card-title pannumber">Pan #20B</h4>
                        <button id="20B-status" type="button" class="btn btn-warning btn-block pan-status">
                            Order #2020-2
                        </button>
                    </div>
                </div>

                <div class="card pan-card">
                    {{!-- <img class="card-img-top" src="..." alt="Photo of Pan 20C"> --}}
                    <div class="card-body">
                        <h4 class="card-title pannumber">Pan #20C</h4>
                        <button id="20C-status" type="button" class="btn btn-warning btn-block pan-status">
                            Order #2020-3
                        </button>
                    </div>
                </div>

                <div class="card pan-card">
                    {{!-- <img class="card-img-top" src="..." alt="Photo of Pan 20D"> --}}
                    <div class="card-body">
                        <h4 class="card-title pannumber">Pan #20D</h4>
                        <button id="20D-status" type="button" class="btn btn-warning btn-block pan-status">
                            No Pan Assigned
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>