<title>USER REGISTRATION</title>
    <div id="mainbody">
    <div id="log-in-container">
        <form>
            <h2 id="log-in-header">Register</h2>
            <div id="log-in-body">
                <div>
                    <ul style="list-style-type:none">
                        <li>
                            <div class="inline-elements">
                                Username:
                                <input type="input" name="userName">
                            </div>
                        </li>
                        <li>
                            <div class="inline-elements">
                                Password:
                                <input type="input" name="pass1">
                            </div>
                        </li>
                        <li>
                            <div class="inline-elements">
                                Retype Password:
                                <input type="input" name="pass2">
                            </div>
                        </li>
                    </ul>
                <input class="btn-submit" type="submit" name="submitLogIn">

            </div>
        </form>
            
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
