{{> navbar}} <!-- This is the partial for the navigation bar, we use > right after the opening mustache to denote it's a partial -->

<div class="d-flex flex-column content"> <!-- ".content" will be the biggest div for all pages after login (for general margin and padding) -->

  <form class="form-inline md-form mr-auto mb-4">
    <input id="clientbox" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button id="clientsearch" class="btn btn-sm my-0 sbtns" type="button">Search by Client</button>
  </form>

  <form class="form-inline md-form mr-auto mb-4">
    <input id="numbox" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button id="numsearch" class="btn btn-sm my-0 sbtns" type="button">Search by Order Number</button>
  </form>

</div>
