{{> navbar}} <!-- This is the partial for the navigation bar, we use > right after the opening mustache to denote it's a partial -->

<div class="d-flex flex-column content"> <!-- ".content" will be the biggest div for all pages after login (for general margin and padding) -->

  <div class="container ingredients-container">
    <div class="d-flex justify-content-between ingredients-header">
      <h2 class="titletext">Ingredients Inventory</h2>

      <button id="ingredients-savebtn" type="button" class="btn btn-secondary btn-lg">Update</button>
      
      <!-- temporary script codee -->
      <script>
        $("#ingredients-savebtn").click(function() {
          window.location.href = "ingredients-inventory";
        });
      </script>

    </div>
    
    <div class="row">
      <div class="col">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



