
/*
    This is the CSS File for all the pages AFTER loggin in the app
*/

/* ---------------------------------------- FOR ALL PAGES --------------------------------------- */
.inside {

}

/* ------------------------------------ [PAGE-02] HOMEPAGE -------------------------------------- */

/* ------------------------------------ [PAGE-03] ORDER FORM ------------------------------------ */

.form-order{
    padding-left: 20px;
    padding-right: 20px;
}

.order-form {
    height: auto;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdbda;          
    border-radius: 10px;
    margin: auto;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

/* -------------------------------- [PAGE-04] ORDER INFORMATION --------------------------------- */

/* ------------------------------ [PAGE-05] INGREDIENTS INVENTORY ------------------------------- */

/* ------------------------------- [PAGE-06] UPDATE INGREDIENTS --------------------------------- */

/* ---------------------------------- [PAGE-07] PANS INVENTORY ---------------------------------- */

/* ------------------------------------ [PAGE-08] ALL ORDERS ------------------------------------ */

/* ----------------------------------- [PAGE-09] SEARCH PAGE ------------------------------------ */