/*
    This is the CSS File for the login page
*/

/* -------------------------------------- [PAGE-01] LOGIN --------------------------------------- */
.login {
    /*
    background-color: ;
	*/
	margin-top: 100px;
	margin-bottom: 100px;
}

.content-login {
	margin: auto;
    padding: 50px;
	height: auto;
	justify-content: center;
    align-items: center;
}

#log-in-container{
    border: 1px solid #cccccc;
	width: 50%;
	text-align: center;
	margin: auto;
	background-color: #cccccc;
}
#log-in-header{
	background-color:  #92a90e;
    text-align: center;
	padding: 20px;
	height:72px;
	margin: auto;
	color: #fbfbfb;
}
#log-in-body{
	background-color:  #cccccc;
	text-align: center;
	padding: 24px;
	margin: auto;
}